.banner a {
  text-decoration: none;
  background-color: #46E17C;
  color: white;
  width: 20px;
  padding: 15px 25px;
  border-radius: 25px;
}

.banner a:hover {
  text-decoration: none;
  background-color: white;
  color: #46E17C;
  width: 20px;
  padding: 15px 25px;
  border-radius: 25px;
}

.links a {
  font-size: 40px;
  color: #46E17C;
  display: inline-block;
  padding: 0 10px;
}

.links a:hover{
  font-size: 40px;
  color: white;
  display: inline-block;
  padding: 0 10px;
}
