/* Banner setup */

.banner {
  background-size: cover;
  background-position: center;
  color: white;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

.banner h1 {
  font-size: 30px;
}

.banner p {
  opacity: .7;
  font-size: 20px;
  margin-bottom: 40px;
}

/* Cards setup */

.cards {
  background-color: white;
  display: flex;
  justify-content: center;
}

.container h2 {
  text-align: center;
  padding: 0 20px;
}

.cards p {
  text-align: center;
  padding: 0 20px;
}

.cards img {
  width: 150px;
  object-fit: cover;
}

.card {
  background-color: white;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 50px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  width: 200px;
}

/* Footer setup */

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0;
  height: 200px;
}

.footer p {
  opacity: .7;
}
